body {
	font-family: 'Dancing Script', cursive;
	background:#02010a;
}


header{
	background:#5b7989;
	border-radius: 10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0 ;
	color:white;
	height:100px;
	animation:mianimacion 1s;
}
#titulo{
	text-shadow:2px #02010a;
	height:100px;
	float:left;
	padding-left:20px;
}

.menu{
	height:40px;
	float:right;
	margin-top:20px;

}

.menu ul{

}

.menu ul li{
	list-style:none;
	float:left;
	
}
.menu ul li a{
	text-decoration:underline;
	padding:10px 15px;
	color:#FFF;
}


body.home a.home:link,
body.paisajes a.paisajes:link,
body.retratos a.retratos:link{
  color: white;
  text-decoration:none;
}


#slide{
	background: #82c3a6;
	height:450px;
	padding:15px;
}



img{
	box-shadow: 2px 2px 5px #02010a;
   -webkit-box-shadow: 2px 2px 5px #02010a;
   -moz-box-shadow: 2px 2px 5px #02010a;
	width:90%;
	display:block;
	margin:auto;
}
@-webkit-keyframes mianimacion{
	0%{
		margin-top:150%;
	}
	60%{
		margin-top:-5%;
	}
	100%{
		margin-top:0%;
	}
}

.slider{
	transition:	
}

#secundaria #caja1{
	width:50%;
	text-align:center;
	text-decoration:underline
}

#secundaria #caja2{
	width:50%;
	text-align:center;
	text-decoration:underline
}

.rotate img {
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.rotate img:hover {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
	box-shadow: 2px 2px 5px  #82c3a6;
   -webkit-box-shadow: 2px 2px 5px  #82c3a6;
   -moz-box-shadow: 2px 2px 5px  #82c3a6;
}

.traslacion img {
	transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}


.traslacion img:hover {
    transform: translate(20px,-5)px;
    -webkit-transform: translate(20px,-5px); 
    -o-transform: translate(20px,-5px); 
    -moz-transform: translate(20px,-5px); 
	box-shadow: 2px 2px 5px  #82c3a6 ;
   -webkit-box-shadow: 2px 2px 5px  #82c3a6;
   -moz-box-shadow: 2px 2px 5px  #82c3a6;
}

#footer{
	display:flex;
	background:#C6d5c5;
	padding:30px;
	border-radius:0 0 10px 10px;
}
#footer .col{
	width:25%;
}

#footer .col ul {
	list-style-type:none;
	margin:0;
	padding:o;
}

#footer .col ul li{
	padding:0 0 5px 15px;
}

#facebook{
	background-image:url(../images/facebok.png);
	background-repeat:no-repeat;
}

#twitter{
	background-image:url(../images/twitter.png);
	background-repeat:no-repeat;
}
#skipe{
	background-image:url(../images/skipe.png);
	background-repeat:no-repeat;
}

#blur{
	 filter: blur(10px);	
}

.gris{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);	
}

.sepia{
	filter:sepia(90%);
}
@media (max-width: 900px) {
	#contenido{
		width:100%;
	}
	
	#secundaria{
		background:#d5c75f;
		height:350
		border:1px;
		padding:15px;
		display:block;
	}
	
	#paisajes{
		background:#d5c75f;
		height:auto;
		padding:15px;
		display:block;
	}
	
	#footer{
		display:block;
		background:#C6d5c5;
		padding:30px;
		border-radius:0 0 10px 10px;
	}
	#footer .col{
		width:100%;
	}

}

@media (min-width: 901px) {
	#contenido{
		width:900px;
		margin:auto;
	}
	#secundaria{
		background:#d5c75f;
		height:350
		border:1px;
		display: flex;
		flex-flow: row wrap;
		padding:15px;
	}
	
	#paisajes{
		background:#d5c75f;
		height:auto;
		display: flex;
		flex-flow: row wrap;
		padding:15px;
	}

}